body {
  color: yellow;
  background-color: #5792CC;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: yellow;
  font-family: Arial;
  text-align: center;
  line-height: 70px;
  font-style: normal;
}

.title {
  display: block;
  font-size: 1.2em;
}

.uploadmodal {
  background-color: #5792CC;
}

.uploadfooter {
  color: yellow;
  background-color: #283593 !important;
}

.refresh {
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0px;
  margin: 0;
  padding: 5px;
}

.fab {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.credit {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 5px;
}

input:focus, #description:focus {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: yellow !important;
  box-shadow: yellow !important;
}

/*Masonry for webcards*/

.masonry {
  margin: 20px;
  column-gap: 1em;
}

.item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}


/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}
